.create-listing-container {
    min-height: 100vh;
    margin-top: 2%;
    margin: 0% 5%;
}

.create-listing-title {
    text-align: left;
}

/* Using . selector instead of # because mui components do not respond to being selected by id using # */
.title {
    grid-area: title;
}

.street {
    grid-area: street;
}

.description {
    grid-area: descr;
}

.city {
    grid-area: city;
}

.length {
    grid-area: length;
}

.width {
    grid-area: width;
}

.height {
    grid-area: height;
}

.state {
    grid-area: state;
}

.zipcode {
    grid-area: zipcode;
}

.price {
    grid-area: price;
}

.country {
    grid-area: country;
}

.dimensions {
    grid-area: dimensions;
}

#images {
    grid-area: images;
}

#cancel {
    grid-area: cancel;
}

#submit {
    grid-area: submit;
}

#cameras {
    grid-area: cameras;
}

#climate {
    grid-area: climate;
}

#biometrics {
    grid-area: biometrics;
}

#wheelchair {
    grid-area: wheelchair;
}

.create-listing-form {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    grid-template-areas: 
        'title title street street'
        'descr descr city state'
        'descr descr country zipcode'
        'dimensions dimensions hidden-input price'
        'cameras climate biometrics wheelchair'
        'images images images images'
        'cancel cancel submit submit';
    place-items: center;
    padding: 2% 2%;
}


.grid-col-span2 {
    grid-column: span 2;
}

.grid-row-span2 {
    grid-row: span 2;
}
