.create-listing-container {
    min-height: 100vh;
    margin-top: 2%;
}

.create-listing-title {
    margin-left: 5%;
    text-align: left;
}

#title {
    grid-area: title;
}

#street {
    grid-area: street;
}

#description {
    grid-area: descr;
}

#city {
    grid-area: city;
}

#length {
    grid-area: length;
}

#width {
    grid-area: width;
}

#height {
    grid-area: height;
}

#state {
    grid-area: state;
}

#zipcode {
    grid-area: zipcode;
}

/* Using . instead of # because mui components do not respond to being selected by id using #.  */
.price {
    grid-area: price;
}

#images {
    grid-area: images;
}

#cancel {
    grid-area: cancel;
}

#submit {
    grid-area: submit;
}

#cameras {
    grid-area: cameras;
}

#climate {
    grid-area: climate;
}

#biometrics {
    grid-area: biometrics;
}

#wheelchair {
    grid-area: wheelchair;
}

.create-listing-form {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0.2rem;
    grid-template-areas: 
        'title title . street'
        'descr descr . city'
        'descr descr . state'
        'length width height zipcode'
        'hidden-input . . price'
        'cameras climate biometrics wheelchair'
        'images images images images'
        'cancel cancel submit submit';
    place-items: center;
    padding: 0% 5%;
}


.grid-col-span3 {
    grid-column: span 3;
}

.grid-row-span2 {
    grid-row: span 2;
}
