/*
.left-side {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    margin-top: 2vmin;
    margin-left: 2vmin;
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.right-side {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    margin-top: 2vmin;
    margin-right: 2vmin;
}

h3, p {
    margin: 0;
}
*/

.grid-even-columns {
    margin: 5vmin;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2.5fr 3fr;
    align-self: flex-start;
}

.grid-inner-rows {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr
}