/*
.left-side {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    margin-top: 2vmin;
    margin-left: 2vmin;
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.right-side {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
    margin-top: 2vmin;
    margin-right: 2vmin;
}
*/
h2, p {
    margin: 0;
    margin-left: 1%;
}

p {
    color: gray;
    margin-bottom: 2%;
}


.grid-even-columns {
    margin: 5vmin;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.5fr 1.5fr 3fr;
    align-items: end;
    z-index: 1;
}

.grid-inner-rows {
    display: grid;
    grid-template-columns: 1fr;
    text-align: start;
}

.image-list-item:hover {
    cursor: pointer;
}


.circular-progress {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* make sure it's above other elements */
  }
