.input { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-link {
    color: #0C825F;
}

.register-link:hover {
    cursor: pointer;
}

table {
    margin: auto;
}

.login-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    height: 95vh;
}

.carousel .slide img {
  height: 95vh;
  width: auto;
}