/* align-self, align-items, etc is for vertical placement
justify-self, justify-items, etc is for horizontal placement */

.my-listings-container {
    padding: 0 4vmin;
    display: grid;
    grid-template-areas: 
        'title create-listing'
        'my-listings my-listings'
        'rentals .';
    align-items: center;
}

#title {
    grid-area: title;
}

#rentals-title {
    grid-area: rentals;
}

.create-listing-button {
    padding: 0 4vmin;
    grid-area: create-listing;
    height: 2rem;
    justify-self: right;
}

.my-listings-title {
    display: flex;
    align-items: left;
}

.my-listings-grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-auto-flow: column;
    grid-auto-columns: 20rem;
    overflow-x: auto;
    grid-area: my-listings;
}

.my-listings-grid-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

