.register-container {
    margin-top: 3vh;
    display: flex;
    height: auto;
    margin-bottom: 30vh;
    margin-left: 30%;
    align-content: center;
    justify-content: 'center';
    align-items: 'center';
    width: 50%;
}

.registration_paper {
    padding: 3vh;
}


.circular-progress {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* make sure it's above other elements */
  }
