.register-container {
    margin-top: 3vh;
    display: flex;
    height: auto;
    margin-bottom: 30vh;
    margin-left: 30%;
    align-content: center;
    justify-content: 'center';
    align-items: 'center';
    width: 50%;
}

.registration_paper {
    padding: 3vh;
}
