.reset-password-grid-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 87vh;
    margin:0
}

.reset-password-form {
    margin-bottom: 50vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}
